@font-face {
    font-family: 'Avant Garde';
    src: url('../fonts/AvantGarde/AVGARDD_2.woff');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('../fonts/NeueHaasGrotesk/NeueHaasDisplayThin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kollektief';
    src: url('../fonts/Kollektief/Kollektif.ttf');
}

@font-face {
    font-family: 'Acme';
    src: url('../fonts/Acme/Acme-Regular-webfont.woff');
}

@font-face {
    font-family: 'Manifesto';
    src: url('../fonts/Manifesto/MANIFESTO.ttf');
}

@font-face {
    font-family: 'Eirene Sans';
    src: url('../fonts/EireneSans/EireneSans-Regular.otf');
}

@font-face {
    font-family: 'Futura Light';
    src: url('../fonts/Futura/Futura\ Light\ font.ttf');
}

@font-face {
    font-family: 'Futura Condensed Light';
    src: url('../fonts/Futura/Futura-CondensedLight.otf');
}

@font-face {
    font-family: 'Neutral Face';
    src: url('../fonts/NeutralFace/NeutralFace.otf');
}

@font-face {
    font-family: 'Reddit Mono Medium';
    src: url('../fonts/RedditMono/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Reddit Mono Light';
    src: url('../fonts/RedditMono/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Trap Sans Light';
    src: url('../fonts/TrapSans/Trap-Light.otf');
}

@font-face {
    font-family: 'Trap Sans Medium';
    src: url('../fonts/TrapSans/Trap-Medium.otf');
}

@font-face {
    font-family: 'Trap Sans Regular';
    src: url('../fonts/TrapSans/Trap-Regular.otf');
}

@font-face {
    font-family: 'Kumbh';
    src: url('../fonts/Kumbh/KumbhSans-Regular.ttf');
}